@font-face {
  font-family: "ReenieBeanie";
  src: url("../fonts/ReenieBeanie-Regular.ttf");
}
body {
  background: linear-gradient(#823a3d, #6a272a);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.5rem;
  padding: 2em;
}

main #quote {
  width: fit-content;
  height: fit-content;
  font-size: 3rem;
  text-align: center;
  font-family: "ReenieBeanie", sans-serif;
  color: #e9cd7d;
  line-height: normal;
}

main #face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

main #face img {
  width: 100%;
  height: 100%;
  max-width: 350px;
}

main #bottom-object {
  width: 80px;
}
